/* ADICIONANDO ESTADOS A ANIMAÇÃO */


@keyframes mudaCor{  /* 1 Criando a animação */
    0%{background-color: red; width: 200px;}           /* 0% do tempo da animação */
    25%{background-color: yellow;}       /* 25% do tempo da animação */
    50%{background-color: yellowgreen; width: 400px;}  /* 50% do tempo da animação */
    100%{background-color: blue;}        /* estado final  */
}


.box{
    width: 200px;
    height: 200px;
    /* background-color: red */;
    border-style: solid;
    animation-name: mudaCor;   /* Chamando a animação no elemento */
    animation-duration: 5s;    /* duração */ 
    /* animation-delay: 3s; */     /* delay - atraso  */
    /* animation-iteration-count: 2; */ /* loop = vai animar duas vezes */
    animation-iteration-count: infinite; /* infinite = vai  animar sempre */
}