/* ADICIONANDO ESTADOS A ANIMAÇÃO */


@keyframes mudaCor{  /* 1 Criando a animação */
    0%{background-color: red;}           /* 0% do tempo da animação */
    25%{background-color: yellow;}       /* 25% do tempo da animação */
    50%{background-color: yellowgreen;}  /* 50% do tempo da animação */
    100%{background-color: blue;}        /* estado final  */
}


.box{
    width: 200px;
    height: 200px;
    /* background-color: red */;
    border-style: solid;
    animation-name: mudaCor;   /* Chamando a animação no elemento */
    animation-duration: 5s;    /* duração */ 
}